* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.header {
    height: 50px;
    background-color: rgb(87, 122, 237);
    color: white;
    margin-bottom: 10px;
    padding: 5px;
}
.main {
    display: flex;
    gap: 10px;
    height: 300px;
    
}
.sidebar {
    width: 25%;
    background-color: green;
    color: white;
    padding: 5px;
}
.content {
    width: 75%;
    background-color: rgb(228, 16, 16);
    color: white;
    padding: 5px;

}
.footer {
    height: 50px;
    background-color: purple;
    color: white;
    margin-top: 10px;
    padding: 5px;
}